html {
    font-family: sans-serif;
}
.button {
    min-width: 7vw;
}
.options {
    font-weight: bold;
}
.separated {
    border-bottom: 1px solid;
    padding-bottom: 10px;
    width: 95vw;
}
.spaced {
    min-width: 10vw;
}
h1.padded {
    padding-bottom: 10px;
}
label.options {
    display: inline-block;
    min-width: 10vw;
}
p > span {
    display: inline-block;
    min-width: 10vw;
}
span.code {
    font-family: monospace;
    font-size: 115%;
}
#background {
    background-color: #758B9E;
}
#error {
    font-style: italic;
    color: #B72B2B;
}
#frame {
    min-height: 50vh;
    max-height: 90vh;
    width: 95vw;
}
#frame-background {
    background-color: #708394;
}
#preview {
    height: auto;
    width: auto;
    max-width: 100%;
}
#scanner {
    font-size: 150%;
}
