.blocked {
    display: inline-block;
}
.button {
    min-width: 7vw;
}
.options {
    font-weight: bold;
}
.padded {
    padding-bottom: 10px;
}
.separated {
    border-bottom: 1px solid;
    padding-bottom: 10px;
}
.spaced {
    min-width: 10vw;
}
.text {
    font-family: sans-serif;
}
span.code {
    font-family: monospace;
}
#background {
    background-color: #758B9E;
}
#frame {
    height: 90vh;
    width: 90vw;
    padding-top: 10px;
    padding-left: 5vw;
}
#scanner {
    font-size: 150%;
    font-weight: bold;
}
